MatanColloc03.aux
DefinicionClases.sty
MatanColloc03.fdb_latexmk
MatanColloc03.fls
MatanColloc03.loe
MatanColloc03.log
MatanColloc03.out
MatanColloc03.synctex.gz
MatanColloc03.toc
MatanColloc03.upa
MatanColloc03.upb
MatanColloc03.pdf
.MatanColloc03.fls.icloud  
MatanColloc03\ 2.fls 